<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Define Student bean -->
	<context:annotation-config />

	<util:list list-class="java.util.ArrayList" id="phones">
		<value>13379283</value>
		<value>468246378</value>
		<value>32854</value>
	</util:list>
	<bean id="emp1" class="com.learning.spring.spring_first_project.Emp">
		<property name="EmpPhone" ref="phones" />


		<property name="EmpAddresses">
			<set>
				<value>delhi</value>
				<value>Mdb</value>
				<value>Kolkata</value>
			</set>
		</property>
		<property name="EmpWorks">
			<map>
				<entry key="1" value="study" />
				<entry key="2" value="horsing" />
				<entry key="3" value="sports" />
			</map>
		</property>
	</bean>

	<bean name="y" class="com.learning.spring.spring_first_project.B">
		<property name="z" value="13" />
	</bean>

	<bean name="a" class="com.learning.spring.spring_first_project.A">
	</bean>

	<bean class="com.learning.spring.spring_first_project.Student"
		name="student1">
		<property name="studentId" value="1" />
		<property name="studentName" value="aaditya jha" />
		<property name="studentSddress" value="budh nagar" />
	</bean>
</beans>
